/*css document */
body{
    display: :grid;
    grid-template-columns: 2fr 9fr 1fr;
    gap: 1rem;
    background-color: antiquewhite;

}
header{
    background-color: aquamarine;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: flex-end;
}
main{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 2rem;
    border: 10px rgb(8, 34, 232) solid;
    border-style: double;
    margin: 5rem;
    border-radius: 3px;
    background-color: rgb(215, 255, 242);
}
nav{
    display: flex;
    justify-content: baseline;
}
img{
    object-fit: cover;
    width: 100;
    margin: 30px;
}
footer{
    align-self: center;
    background-color: rgb(81, 166, 235);
    padding: 2rem;
    grid-column-start: 1;
    grid-column-end: 4;
}
#logo{
    object-fit: cover;
    width: 200px;
}
.align{
    text-align: center;
}
.primer{
    line-height: 1.3rem;
    color: #2d80c4;
    text-align: center;
    font-family: "chakra petch", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.tone{
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
    min-height: 5px;
    font-size: 25px;
    line-height: 8px;
    padding-bottom: 1rem;
    color:blue 
}
/*nav*/
header li{
    list-style: none;
    display: inline-block;
    padding: 1rem 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-style: normal;
}
header a {
    text-decoration: none;
    color:#2d80c4;
    transition: all .4s ease 0;
}
header a:hover{
    color: blueviolet
}
figcaption {
    font-family: "prompt", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: .8rem;
    padding: 1rem 0;
}
pre, cite{
    font-family: "mooli", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2;
}
cite {
    font-size: 2rem;
}

/* Estilo imagenes */

